<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

<!-- <script src="https://localhost:3030/socket.io/socket.io.js"></script>  -->


<h1>Sign Up</h1>
<% if @user && @user.errors.any? %>

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

<% end %>



<%= form_for(:user, url: users_path) do |f| %>

  <%= label_tag("First name") %><br>
  <input type="name" name="user[first_name]"></input><br><br>

  <%= label_tag("Last name") %><br>
  <input type="name" name="user[last_name]"></input><br><br>

  <%= label_tag("Email") %><br>
  <input type="email" name="user[email]"></input><br><br>

  <%= label_tag("Password") %><br>
  <input type="password" name="user[password]"></input><br><br>
  <%= submit_tag("Sign up") %>
<% end %>

<hr>
<hr>
<hr>
<button>Click event to websocket port</button>
<ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

<script>
$(document).ready(function(){

  var socket = io.connect('localhost:3030');
  // socket.on('connect', function(data) {
  //        socket.emit('join', 'Hello World from client');
  //    });

  // Button applies to chat as well
  // $('button').on("click", function(){
  //   socket.emit('chat message', "BUTTON WAS CLICKED!")
  // });
  $('form').submit(function(){
    socket.emit('chat message', $('#m').val());
    $('#m').val('');
    return false;
  });
  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
  });
  // socket.on('chat message', function(response){
  //   console.log(response)
  // });
})

</script>