<h3><%= @event.name %></h3>

<% if @open_playlists.any? %>
  <h4>Add your playlist to the event:</h4>
  <%= form_for [@event, @playlistevent] do |f| %>

    <%= f.select(:playlist_id) do %>
      <% @open_playlists.each do |playlist| -%>
        <%= content_tag(:option, playlist.name, value: playlist.id) %>
      <% end %>
    <% end %>

    <%= f.submit "Add playlist" %>
  <% end %>
<% end %>
<<<<<<< HEAD

<% if @my_event %>
=======
<ul>
<% @songs.each do |song| %>
>>>>>>> master

  <div class="player">
    <div class="viewer">
    </div>
    <div class="controls">
      <audio controls="controls"></audio>
    </div>
    <div class="current-data">
      <h3 class="current-title"><h3>
      <h4 class="current-artist"><h4>
      <h5 class="current-album"></h5>
      <img class="current-art" src="">
    </div>
  </div>

<% end %>

 <div class="col-md-12 mt">
    <div class="content-panel">
      <table class="table table-hover playlist-table">
        <h4><%= @event.name.upcase %> PLAYLIST</h4>
          <hr>
            <thead>
              <tr>
                <th>#</th>
                <th>Song</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Track</th>
                <th>Genre</th>
              </tr>
            </thead>
            <tbody>
         <% @songs.each_with_index do |song,i| %>
           <tr>
            <td><%= i + 1 %></td>
            <td class="title"><%= link_to song.title ||= "untitled", song.s3_url, :class => "song-link", :data => {index: i} %></td>
            <td class="artist"><%= song.artist %></td>
            <td class="album"><%= song.album %></td>
            <td class="track"><%= song.track %></td>
            <td class="genre"><%= song.genre %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<script>
  $(document).ready(function() {
    var controller = new Controller();
    controller.init();

    var songs = <%= @songs.to_json.html_safe %>
    controller.loadSongs(songs);

    $('a.song-link').first().click();
    $("audio").trigger("pause");

    var playlistsController = new PlaylistsController(controller.playlist, controller.playlistView);
    playlistsController.init();
  });
</script>
