<h3><%= @event.name %></h3>

<% if @open_playlists.any? %>
  <h4>Add your playlist to the event:</h4>
  <%= form_for [@event, @playlistevent] do |f| %>

    <%= f.select(:playlist_id) do %>
      <% @open_playlists.each do |playlist| -%>
        <%= content_tag(:option, playlist.name, value: playlist.id) %>
      <% end %>
    <% end %>

    <%= f.submit "Add playlist" %>
  <% end %>
<% end %>


<div class="player">
  <div class="viewer">
  </div>

  <div class="current-data">
    <img class="current-art" src="">
    <div class="current-content">
      <span class="current-title"></span><br>
      <span class="current-artist"></span><br>
      <span class="current-album"></span><br>
    </div>

    <div class = "visual-control">
      <a class="change" href=""><i class="fa fa-heartbeat"></i></a>
    </div>

    <div class="control-panel">
      <div class="more-controls">
        <a class="forward" href="" ><i class="fa fa-forward"></i></a>
      </div>
      <div class="controls">
        <audio controls="controls"></audio>
      </div>
    </div>
  </div>
</div>



   <div class="col-md-12 mt">
      <div class="content-panel">
        <table class="table table-hover playlist-table">
          <h4><%= @event.name.upcase %> PLAYLIST</h4>
            <hr>
              <thead>
                <tr>
                  <th class="title col-md-1"></th>
                  <th class="title col-md-1"></th>
                  <th class="title col-md-1">Votes</th>
                  <th class="title col-md-3">Song</th>
                  <th class="title col-md-2">Artist</th>
                  <th class="title col-md-3">Album</th>
                </tr>
              </thead>
              <tbody>
              <% if current_user == @event.owner %>
                 <%= render partial: "event_rows" %>
              <% else %>
                <%= render partial: "event_guest_rows" %>
              <% end %>
              </tbody>
      </table>
    </div>
  </div>


  <script>
    $(document).ready(function() {
      var eController = new EventsController(<%= @event.id %>, <%= current_user == @event.owner %>);

      <% if current_user == @event.owner %>
        eController.init();

        var songs = <%= @songs.to_json({}).html_safe %>
        eController.loadSongs(songs);

        $('a.song-link').first().click();
        $("audio").trigger("pause");

      <% else %>
        eController.initGuest();

        var songs = <%= @songs.to_json({}).html_safe %>
        eController.loadSongs(songs);

        eController.socket.on('guestUpdatePlaylist', function(songId){
          eController.ajaxUpdateCurrent(songId)
        });
      <% end %>


      var playlistsController = new PlaylistsController(eController.playlist, eController.playlistView);
      playlistsController.init();
    });
  </script>
