<div class="viewer">
</div>

<h2>Listen to a MP3 with HTML5 Audio</h2>


<h1>Upload</h1>
<h1>Upload a file</h1>
<%= form_tag uploads_path, enctype: 'multipart/form-data' do %>
  <%= file_field_tag :file  %>
  <%= submit_tag 'Upload file' %>
<% end %>

<h1>All uploads</h1>
<h1>Buckets on your AWS</h1>
<% @buckets.each do |bucket| %>
  <%= bucket.name %>
<% end %>

<% @uploads.each do |upload| %>
    <div>
      <%= link_to upload.name, upload.url, :class => "html5" %> -
      <%= link_to "Delete", upload, method: :delete, :confirm => 'Are you sure you want to delete ' + upload.name + '?' %>

    </div>
<% end %>
