<% @songs.each_with_index do |song,i| %>
   <tr>
    <td class="col-md-1"><%= i + 1 %></td>
    <td class="title col-md-3"><%= link_to song.title ||= "untitled", song.s3_url, :class => "song-link", :data => {index: i} %></td>
    <td class="artist col-md-2"><%= song.artist %></td>
    <td class="album col-md-3"><%= song.album %></td>
    <td class="track col-md-1"><%= song.track %></td>
    <td class="genre col-md-1"><%= song.genre %></td>
  </tr>
<% end %>
