<div class="player">
  <div class="viewer">
  </div>
  <div class="controls">
    <audio controls="controls"></audio>
  </div>
  <div class="current-data">
    <h3 class="current-title"><h3>
    <h4 class="current-artist"><h4>
    <h5 class="current-album"></h5>
  </div>

</div>

<h1><%= @playlist.name %> playlist</h1>
<table class="pretty">
  <thead>
    <tr>
      <th></th>
      <th><%= sortable "title" %></th>
      <th><%= sortable "artist" %></th>
      <th><%= sortable "album" %></th>
      <th><%= sortable "track" %></th>
      <th><%= sortable "genre" %></th>
      <th>Remove from playlist holder</th>
    </tr>
  </thead>

  <tbody>
  <% @songs.each_with_index do |song,i| %>
     <tr>
      <td><%= i %></td>
      <td class="title"><%= link_to song.title, song.s3_url, :class => "song-link", :data => {index: i} %></td>
      <td class="artist"><%= song.artist %></td>
      <td class="album"><%= song.album %></td>
      <td class="track"><%= song.track %></td>
      <td class="genre"><%= song.genre %></td>
      <td>holder</td>
    </tr>
  <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    controller = new Controller();
    controller.init();
  });
</script>
