<div class="player">
  <div class="viewer">
  </div>
  <div class="controls">
    <audio controls="controls"></audio>
  </div>
  <div class="current-data">
    <h3 class="current-title"><h3>
    <h4 class="current-artist"><h4>
    <h5 class="current-album"></h5>
    <img class="current-art" src="">
  </div>
</div>


 <div class="col-md-12 mt">
    <div class="content-panel">
      <table class="table table-hover playlist-table">
        <h4><%= @playlist.name.upcase %> PLAYLIST</h4>
          <hr>
            <thead>
              <tr>
                <th>#</th>
                <th><%= sortable "song", @playlist.id%></th>
                <th><%= sortable "artist", @playlist.id%></th>
                <th><%= sortable "album", @playlist.id %></th>
                <th><%= sortable "track", @playlist.id %></th>
                <th><%= sortable "genre", @playlist.id %></th>
              </tr>
            </thead>
            <tbody>
         <%= render partial: "playlist" %>
      </tbody>
    </table>
  </div>
</div>


<script>
  $(document).ready(function() {
    var controller = new Controller();
    controller.init();

    var songs = <%= @songs.to_json.html_safe %>
    controller.loadSongs(songs);

    $('a.song-link').first().click();
    $("audio").trigger("pause");

    var playlistsController = new PlaylistsController(controller.playlist, controller.playlistView);
    playlistsController.init();
  });
</script>
