<!DOCTYPE html>
<html>
<head>
  <title>AudioKratos</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>

  <section id="container" >
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <a href="index.html" class="logo"><b>AUDI-O-KRATOS</b></a>
            <div class="nav notify-row" id="top_menu">
                <ul class="nav top-menu">
                  <% if logged_in? %>
                    <li class="dropdown">
                      <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                        <i class="fa fa-tasks"></i>
                        <!-- <span class="badge bg-theme"><%#= current_user.playlists.count %></span> -->
                      </a>
                <ul class="dropdown-menu extended tasks-bar">
                  <div class="notify-arrow notify-arrow-green"></div>
                    <li>
                      <p class="green">You have <%= current_user.playlists.count %> Playlist</p>
                    </li>
                      <% current_user.playlists.each do |playlist| %>
                        <li>
                          <%= link_to playlist do %>
                            <div class='task-info'>
                              <div class='desc'>
                                <%= playlist.name.upcase %>
                              </div>
                            </div>
                          <% end %>
                        </li>
                      <% end %>

                    <%end%>
            </div>
            <div class="top-menu">
              <ul class="nav pull-right top-menu">
                <% if logged_in? %>
                  <li><%= button_to "Logout", logout_path, method: :delete, form_class: "logout" %></li>
                <% else %>
                  <li><%= link_to "Login", new_session_path, class: "logout"%></li>
                  <li><%= link_to "Sign Up", new_user_path, class: "logout"%></li>
                <% end %>
              </ul>
            </div>
        </header>
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <ul class="sidebar-menu" id="nav-accordion">

                  <p class="centered"><a href="profile.html"><img src="http://puu.sh/jU451/1c9729bbeb.png" class="img-circle" width="60"></a></p>

                  <% if logged_in? %>
                    <h5 class="centered"><%= current_user.first_name.upcase %></h5>

                    <li class="sub-menu">
                      <a href="javascript:;" class="sub-menu-title" >
                        <i class="fa fa-list-ul"></i>
                        <span>Playlists</span>
                      </a>
                        <ul class="sub sub-menu-items">
                          <% current_user.playlists.each do |playlist| %>
                            <li><%= link_to playlist.name.upcase, playlist %></li>
                          <% end %>

                          <li>
                            <a  href="#">
                             <span class="badge"><i class="fa fa-plus"></i></span>
                            </a>
                          </li>

                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="#" class="sub-menu-title">
                          <i class="fa fa-black-tie"></i>
                          <span>Events</span>
                      </a>
                      <ul class="sub sub-menu-items">
                          <li><a  href="#">Join</a></li>
                          <li>
                            <a  href="#">
                              <span class="badge"><i class="fa fa-plus"></i></span>
                            </a>
                          </li>
                      </ul>
                  </li>

                  <% end %>

                   <li class="sub">
                      <a href="#">
                          <i class="fa fa-map-signs"></i>
                          <span>About</span>
                      </a>
                  </li>
          </div>
      </aside>

      <section id="main-content">
          <section class="wrapper site-min-height">
            <div class="row mt">
              <div class="col-lg-12">
                <%= yield %>
              </div>
            </div>

    </section>
      </section>
  </section>


</body>
</html>
