<!DOCTYPE html>
<html>
<head>
  <title>MusicStreaming</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>



<script>
$(document).ready(function() {
    // var audioSection = $('section#audio');
    $('a.html5').click(function() {
      var url = $(this).attr('href');

      controller = new Controller();
      controller.init(url);
        // var audio = $('<audio>', {
        //      controls : 'controls'
        // });

        // $('<source>').attr('src', url).appendTo(audio);
        // audioSection.html(audio);



        return false;
    });
});
</script>

</body>
</html>
