<!DOCTYPE html>
<html>
<head>
  <title>MusicStreaming</title>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</head>
<body>
<header>
  <nav>
    <% if logged_in? %>
      <span>Welcome, <%= current_user.first_name %>!</span>
      <%= link_to "Songs Library", songs_path %>
      <%= link_to "Playlists", playlists_path %>
      <%= link_to "Sign out", logout_path, method: "delete" %>
    <% else %>
      <h2>ByteWayve</h2>
      <h2><%= link_to "Log in", new_session_path  %></h2>
    <% end %>

  </nav>
</header>


  <section id="container" >
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <a href="index.html" class="logo"><b>AUDI-O-KRATOS</b></a>
            <div class="nav notify-row" id="top_menu">
                <ul class="nav top-menu">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">1</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 1 Playlist</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">All Songs</div>
                                    </div>
                                </a>
                            </li>

            </div>
            <div class="top-menu">
              <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="login.html">Logout</a></li>
              </ul>
            </div>
        </header>
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">

                  <p class="centered"><a href="profile.html"><img src="http://puu.sh/jU451/1c9729bbeb.png" class="img-circle" width="60"></a></p>
                  <h5 class="centered">USERNAME</h5>

                  <li class="sub">
                      <a href="index.html">
                          <!-- <i class="fa fa-dashboard"></i> -->
                          <span>About</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" class="sub-menu-title" >
                          <i class="fa fa-list-ul"></i>
                          <span>Playlists</span>
                      </a>
                      <ul class="sub sub-menu-items">
                          <li><a  href="#">All Songs</a></li>
                          <li>
                            <a  href="#">
                             <span class="badge"><i class="fa fa-plus"></i></span>
                            </a>
                          </li>

                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a href="#" class="sub-menu-title">
                          <i class="fa fa-black-tie"></i>
                          <span>Events</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="#">Join</a></li>
                          <li>
                            <a  href="#">
                              <span class="badge"><i class="fa fa-plus"></i></span>
                            </a>
                          </li>
                      </ul>
                  </li>

                   <li class="sub">
                      <a href="#">
                          <i class="fa fa-map-signs"></i>
                          <span>About</span>
                      </a>
                  </li>
              <!--     <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-desktop"></i>
                          <span>UI Elements</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="general.html">General</a></li>
                          <li><a  href="buttons.html">Buttons</a></li>
                          <li><a  href="panels.html">Panels</a></li>
                      </ul>
                  </li> -->

                 <!--  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cogs"></i>
                          <span>Components</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="calendar.html">Calendar</a></li>
                          <li><a  href="gallery.html">Gallery</a></li>
                          <li><a  href="todo_list.html">Todo List</a></li>
                      </ul>
                  </li> -->
                 <!--  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>Forms</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="form_component.html">Form Components</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>Data Tables</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="basic_table.html">Basic Table</a></li>
                          <li><a  href="responsive_table.html">Responsive Table</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>Charts</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="morris.html">Morris</a></li>
                          <li><a  href="chartjs.html">Chartjs</a></li>
                      </ul>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div> -->
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i> Blank Page</h3>
            <div class="row mt">
              <div class="col-lg-12">
              <p><%= yield %></p>
              </div>
            </div>

    </section>
      </section>
  </section>


</body>
</html>
