<!DOCTYPE html>
<html>
<head>
  <title>MusicStreaming</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <% if logged_in? %>
      <span>Welcome, <%= current_user.first_name %>!</span>
      <%= link_to "Profile", songs_path %>
      <%= link_to "Sign out", logout_path, method: "delete" %>
    <% else %>
      <h2>ByteWayve</h2>
      <h2><%= link_to "Log in", new_session_path  %></h2>
    <% end %>

  </nav>
</header>

<%= yield %>



<script>
$(document).ready(function() {
    // var audioSection = $('section#audio');
    $('a.html5').click(function() {
      var url = $(this).attr('href');

      controller = new Controller();
      controller.init(url);
        // var audio = $('<audio>', {
        //      controls : 'controls'
        // });

        // $('<source>').attr('src', url).appendTo(audio);
        // audioSection.html(audio);



        return false;
    });
});
</script>

</body>
</html>
